<div class="container">
    <div class="row">
        <div class="col-md-6">

            <form #product="ngForm" action="" class="form" (ngSubmit)="onSubmit(product.value)">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="objProduct.name" name="name"
                        placeholder="name">
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control" [(ngModel)]="objProduct.price" name="price"
                        placeholder="price">
                </div>
                <div class="form-group mt-2">
                    <input type="text" class="form-control" [(ngModel)]="objProduct.desc" name="desc"
                        placeholder="desc">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá sản phẩm</th>
                        <th>Mô tả</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody *ngIf="products.length > 0">
                    <tr *ngFor="let product of products">
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price | currency : "VND" }}</td>
                        <td>{{ product.desc }}</td>
                        <td>
                            <button class="btn btn-primary" (click)="update(product)">Sửa</button>
                            <button class="btn btn-danger">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>