<h1 class="color-red font-weight-bold text-center">Danh sách người dùng</h1>
  <div class="container">
    <input type="text" class="form-control w-50 m-auto" (input)="onSearch($event)" />
    <a href="add" class="text-decoration-none">Thêm mới</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Tên</th>
          <th>Tuổi</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Ảnh đại diện</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody *ngIf="filterStudent.length > 0 ">
        <tr *ngFor="let student of filterStudent">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.age }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.email }}</td>
          <td><img [src]="student.img" width="100"></td>
          <td>
            <button (click)="update(student)" class="btn">Cập nhật</button>
            <button (click)="remove(student.id)" class="btn btn-danger">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>

    
  </div>