<header>
    <h1 class="text-center ">Header</h1>
</header>
<div class="main">
    <aside>
        <ul>
            <li><a routerLink="/product">Quản lý sản phẩm</a></li>
            <li><a routerLink="/student">Quản lý người dùng</a></li>
            <li><a routerLink="">Quản lý đơn hàng</a></li>
            <li><a routerLink="">Quản lý slider</a></li>
            <li><a routerLink="">Quản lý bình luận</a></li>
        </ul>
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
<footer>
    <h1 class="text-center">Footer</h1>
</footer>